<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div style="background-color: burlywood">



        <div>first Name: {{user.firstName}}</div>
        <div>last Name: {{user.lastName}}</div>
        <div>mail: {{user.email}}</div>
        <div>password: {{user.password}}</div>
        <div>age: {{user.age}}</div>
        <div>city: {{user.city}}</div>
        <hr>



</div>


</body>
</html>